.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.standard_navbar {
  height: 80px;
  background: #2e3f61;
  color: #fff;
}
.standard_form {
  position: absolute;
  right: 0;
  float: right !important;
  min-width: 30%;
  width: auto !important;
}
.standard_login_button {
  width: 140px;
  height: 47px;
  background-color: #27a745 !important;
  color: #fff !important;
  font-family: "Raleway", sans-serif;
  font-weight: 600 !important;
  letter-spacing: 0.05rem !important;
}
.standard_register_button {
  margin-right: 4%;
  width: 140px;
  height: 47px;
  font-family: "Raleway", sans-serif;
  font-weight: 600 !important;
  letter-spacing: 0.05rem !important;
}
.standard_heading {
  font-family: "Raleway", sans-serif;
  font-weight: 400 !important;
  letter-spacing: 0.08rem !important;
  font-size: 25px !important;
  margin-left: 1%;
}
.form-inline {
  display: block !important;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
select:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

/* Landing Page CSS goes here */
.landing_first {
  height: 91vh;
  width: 100vw;
  background-image: url("./utils/img/backgound.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(80%); /* Safari 6.0 - 9.0 */
  filter: grayscale(80%);
}
.landing_search {
  height: 25vh;
  width: 80vw;
  background: #2e3f61;
  text-align: center;
  margin: 0 auto;
  position: relative;
  margin-top: -10%;
}
#nav-contact-tab {
  border-radius: 0px !important;
  height: 6vh !important;
  border: none !important;
  border-bottom: 2px solid #2e3f61 !important;
  background: #fff;
}
#nav-home-tab {
  border-radius: 0px !important;
  height: 6vh !important;
  border: none !important;
  border-bottom: 2px solid #2e3f61 !important;
  background: #fff;
}
.nav_item_text {
  font-family: "Nunito", sans-serif !important;
  font-size: 25px !important;
  text-align: center !important;
  /* line-height: 3rem !important; */
  color: #2e3f61;
  outline: none !important;
  text-decoration: none !important;
  /* pointer-events: none; */
}
.nav_item_text:hover {
  color: #2e3f61 !important;
}
.nav-link.active {
  color: #fff !important;
  background: #2e3f61 !important;
}
.bullshit_one {
  position: relative;
  margin-top: 2.5% !important;
}
.bullshit_one_1 {
  list-style: none !important;
  width: 12vw;
  display: inline-block;
  font-family: "Nunito", sans-serif !important;
}
.text_field {
  height: 7vh !important;
  border: 0px !important;
  /* border-bottom: 0px !important;
   border-top: 0px !important; */
  border-radius: 0px !important;
}
.submit_button {
  height: 7.05vh !important;
  width: 12vw;
  margin-top: -0.05px !important;
  background-color: #637496 !important;
  color: #fff !important;
  text-transform: uppercase;
  font-weight: 600 !important;
  font-size: 20px !important;
}
/* .submit_button:hover {
   cursor:not-allowed !important;
} */
.text_field:nth-child(1) {
  border-left: 1.5px solid #2e3f61 !important;
}
/* About Page CSS goes here */
.about {
  height: 115vh !important;
  width: 100vw;
  background: #fff !important;
}

.about-left {
}
.about-right {
}

.about_text {
  margin-top: 15%;
}
.about_text_heading {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 50px;
  text-align: left;
  line-height: 1.2em;
}
.about_text_p {
  text-align: left;
  font-family: "Nunito", sans-serif !important;
  margin-top: 5%;
}
.about_right_images_1 {
  margin-left: -25%;
  margin-top: -5%;
}
.about_right_images_1 > div {
  display: inline-block;
  margin-left: 5%;
  margin-top: 10%;
}
.about_link_image1 {
  position: absolute;
  height: 40vh;
  z-index: 2;
  top: 25%;
  right: 15%;
  border: 20px solid #fff;
}
.about_link_image2 {
  position: absolute;
  height: 70vh;
  right: 35% !important;
  z-index: 1;
  top: 20%;
}
.about_link_image3 {
  position: absolute;
  height: 30vh;
  top: 70%;
  z-index: 2;
  right: 65%;
  border: 20px solid #fff;
}
.about_link_images {
  margin-top: 20%;
  margin-right: 20% !important;
}
.zoom_div img {
  transition: 0.3s all ease-in-out;
  border-radius: 0px !important;
}
.zoom_div:hover img {
  transform: scale(1.1);
  transition: 0.3s all ease-in-out;
}

/* BlogPosts and News css goes here */
.blog {
  height: 90vh;
  width: 100vw;
  margin-top: 5%;
  background-color: #fff;
  padding-top: 5%;
}
.blog_heading {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  text-align: center;
  margin: 0 auto;
  font-weight: 600;
  color: #2e3f61;
}
.blog_card {
  display: inline-block !important;
  margin-left: 5%;
  background: transparent !important;
  border: none !important;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}
.containe {
  margin-top: 5% !important;
  margin-left: -5%;
}
.blog_subhead {
  font-family: "Baskervville", serif;
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  margin-left: -4%;
  color: #42524e;
  margin-top: 5% !important;
}
.pp {
  padding-top: 4% !important;
  font-size: 16px;
  text-align: left;
  font-family: "Nunito", serif;
  margin-left: -4%;
}
.blog_span {
  background: #2e3f61;
  padding: 6px 80px 6px;
  position: absolute;
  margin-top: -10% !important;
  left: 8%;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}
.blog_card:hover img {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
.blog_card > img {
  transition: transform 0.3s ease-in-out;
}
.main_btn {
  padding: 5px 40px;
  background: 0 0;
  z-index: 222;
  display: inline-block;
  text-align: center;
  color: #222;
  font-size: 16px;
  font-weight: 500;
  line-height: 48px;
  border: 1px solid #2e3f61;
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  text-decoration: !important none;
  left: 31%;
  margin-top: 2%;
}
.main_btn > img {
  position: absolute;
  top: 40%;
  right: -30px;

  /* -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); */
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.main_btn:hover {
  background-color: #2e3f61;
  color: #fff;
  text-decoration: none;
}
.main_btn:hover img {
  transform: translateX(20%);
}

/* Newsletter CSS goes here */

.newsletter {
  height: 100vh;
  width: 100vw;
  background: #fff;
}
.beach {
  height: 60vh;
  margin-top: 3%;
  margin-left: 20%;
  /* width: 70vw; */
  -webkit-filter: grayscale(40%); /* Safari 6.0 - 9.0 */
  filter: grayscale(40%);
}
.newsletter_box {
  background: #50b6c1;
  height: 55vh;
  width: 60vw;
  position: absolute;
  margin-top: -10%;
  margin-left: 8%;
  border: 25px solid #fff;
}
.newsletter_heading {
  color: #fff;
  font-family: "Playfair Display", serif;
  margin-top: 7%;
  font-weight: 600;
  font-size: 45px;
}
.newsletter_box > p {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  color: #fff;
  font-family: "Nunito", serif;
  font-size: 20px;
  margin-top: 3%;
}
.subscribe_buttons {
  margin-top: 2%;
  height: 50px !important;
  margin-left: -1%;
  width: 101% !important;
}
.ola {
  display: flex;
  margin-top: 7%;
}
.text_field_subscribe {
  width: 30vw !important;
  border: none !important;
  border-radius: 0px !important;
  display: inline-block;
  margin-left: 7%;
  font-family: "Nunito", serif;
  height: 7vh !important;
}
.text_field_subscribe_button {
  display: inline-block;
  width: 15vw !important;
  /* border: none !important; */
  border-radius: 0px !important;
  margin-left: 3%;
  font-family: "Nunito", serif;
  border: 4px solid #2e8690 !important;
  color: #2e8690 !important;
  height: 7vh !important;
  transition: transform 0.3s ease-in-out;
}
.text_field_subscribe_button:hover {
  transform: scale(0.97);
  transition: transform 0.3s ease-in-out;
}

/* Footer CSS goes here */

.new_footer_area {
  margin-top: 10%;
  background: #0a101b;
}

.new_footer_top {
  padding: 120px 0px 270px;
  position: relative;
  overflow-x: hidden;
}
.new_footer_area .footer_bottom {
  padding-top: 5px;
  padding-bottom: 50px;
}
.footer_bottom {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #7f88a6;
  padding: 27px 0px;
}
.new_footer_top .company_widget p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #6a7695;
  margin-bottom: 20px;
}
.new_footer_top .company_widget .f_subscribe_two .btn_get {
  border-width: 1px;
  margin-top: 20px;
}
.btn_get_two:hover {
  background: transparent;
  color: #5e2ced;
}
.btn_get:hover {
  color: #fff;
  background: #6754e2;
  border-color: #6754e2;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a:hover,
a:focus,
.btn:hover,
.btn:focus,
button:hover,
button:focus {
  text-decoration: none;
  outline: none;
}

.new_footer_top .f_widget.about-widget .f_list li a:hover {
  color: #5e2ced;
}
.new_footer_top .f_widget.about-widget .f_list li {
  margin-bottom: 11px;
}
.f_widget.about-widget .f_list li:last-child {
  margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
  margin-bottom: 15px;
}
.f_widget.about-widget .f_list {
  margin-bottom: 0px;
}
.new_footer_top .f_social_icon a {
  width: 44px;
  height: 44px;
  line-height: 43px;
  background: transparent;
  border: 1px solid #e2e2eb;
  font-size: 24px;
}
.f_social_icon a {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 45px;
  color: #858da8;
  display: inline-block;
  background: #ebeef5;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.ti-facebook:before {
  content: "\e741";
}
.ti-twitter-alt:before {
  content: "\e74b";
}
.ti-vimeo-alt:before {
  content: "\e74a";
}
.ti-pinterest:before {
  content: "\e731";
}

.btn_get_two {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #5e2ced;
  border-color: #5e2ced;
  color: #fff;
}

.btn_get_two:hover {
  background: transparent;
  color: #5e2ced;
}

.new_footer_top .f_social_icon a:hover {
  background: #5e2ced;
  border-color: #5e2ced;
  color: white;
}
.new_footer_top .f_social_icon a + a {
  margin-left: 4px;
}
.new_footer_top .f-title {
  margin-bottom: 30px;
  color: #263b5e;
}
.f_600 {
  font-weight: 600;
}
.f_size_18 {
  font-size: 18px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4b505e;
}
.new_footer_top .f_widget.about-widget .f_list li a {
  color: #6a7695;
}

.new_footer_top .footer_bg {
  position: absolute;
  bottom: 0;
  background: url("http://droitthemes.com/html/saasland/img/seo/footer_bg.png")
    no-repeat scroll center 0;
  width: 100%;
  height: 266px;
}

/* .new_footer_top .footer_bg .footer_bg_one {
  background: url("https://1.bp.blogspot.com/-mvKUJFGEc-k/XclCOUSvCnI/AAAAAAAAUAE/jnBSf6Fe5_8tjjlKrunLBXwceSNvPcp3wCLcBGAsYHQ/s1600/volks.gif")
    no-repeat center center;
  width: 330px;
  height: 105px;
  background-size: 100%;
  position: absolute;
  bottom: 0;
  left: 30%;
  -webkit-animation: myfirst 22s linear infinite;
  animation: myfirst 22s linear infinite;
} */

.new_footer_top .footer_bg .footer_bg_two {
  background: url("https://1.bp.blogspot.com/-hjgfxUW1o1g/Xck--XOdlxI/AAAAAAAAT_4/JWYFJl83usgRFMvRfoKkSDGd--_Sv04UQCLcBGAsYHQ/s1600/cyclist.gif")
    no-repeat center center;
  width: 88px;
  height: 100px;
  background-size: 100%;
  bottom: 0;
  left: 38%;
  position: absolute;
  -webkit-animation: myfirst 30s linear infinite;
  animation: myfirst 30s linear infinite;
}

@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}
